@{
    ViewData["Title"] = "Home Page";
}

 <section id="">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/assest/images/isabella-rubie-photography-K0UdwitITbo-unsplash.jpg" class="d-block w-100"
                        alt="...">
                    <div class="txt">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/assest/images/steven-van-elk-kTuuRlkgwHA-unsplash.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/assest/images/isabella-rubie-photography-K0UdwitITbo-unsplash.jpg" class="d-block w-100"
                        alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section id="main1">
        <div class="container">
            <div class="row">


                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="txtlar">
                       <h2>We design delicious
                    </h2><br>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy tincidunt ut laoreet dolore magna aliquam erat volutpat.

                    </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4">
<div class="cart2">

    <div class="img2"><img src="~/assest/images/qizzzzz.jpg" alt=""></div>
    <div class="title2"><h3>CREATIVE ELEMENTS
    </h3></div>
    <div class="desc2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget risus in nisl dapibus fermentum vitae sed tortor. Ut hendrerit semper nulla.

    </p></div>
</div>


                </div>
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <div class="cart2">
                    
                        <div class="img2"><img src="~/assest/images/qizzzzz.jpg" alt=""></div>
                        <div class="title2"><h3>CREATIVE ELEMENTS
                        </h3></div>
                        <div class="desc2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget risus in nisl dapibus fermentum vitae sed tortor. Ut hendrerit semper nulla.
                    
                        </p></div>
                    </div>
                    
                    
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="cart2">
                                        
                                            <div class="img2"><img src="~/assest/images/qizzzzz.jpg" alt=""></div>
                                            <div class="title2"><h3>CREATIVE ELEMENTS
                                            </h3></div>
                                            <div class="desc2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget risus in nisl dapibus fermentum vitae sed tortor. Ut hendrerit semper nulla.
                                        
                                            </p></div>
                                        </div>
                                        
                                        
                                                        </div>
            </div>
        </div>
        


    </section>
    <section id="progress">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6">
<!--Start Animated Progress Bar-->
<h5>Marketing</h5>

<div class="animated-progress progress-blue">
    <span data-progress="45"></span>
  </div>
  <h5>Marketing</h5>

  <div class="animated-progress progress-green">
    <span data-progress="60"></span>
  </div>
  <h5>Marketing</h5>

  <div class="animated-progress progress-purple">
    <span data-progress="70"></span>
  </div>
  <h5>Marketing</h5>

  <div class="animated-progress progress-red">
    <span data-progress="85"></span>
  </div>
<!--End Animated Progress Bar-->


                </div>


                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="cart3"><div class="txt3"><h2>Baked fresh simply delicious
                    </h2></div>
                    <div class="desc3"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, and sed tincidunt ut laoreet dolore magna aliquam erat volutpat lorem ipsum dolor amet

                    </p></div>
                    <button type="button" id="bt1" class="btn btn-light">Read More</button>

                
                
                
                
                </div>
                
                </div>
            </div>
        </div>

        
    </section>
    <section id="cardEnd">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
<div class="title9899"><h2>Taste of romance
</h2>
<br><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy tincidunt ut laoreet dolore magna aliquam erat volutpat.

</p></div>


                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assest/images/break.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assest/images/break.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assest/images/break.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assest/images/break.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assest/images/break.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assest/images/break.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assest/images/break.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assest/images/break.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
               
            </div>
        </div>
    </section>